version: '3.9'
services:
  auth:
    build: 
      context: /home/taiunse/Desktop/auth
    ports:
      - "8000:8000"
    
  message:
    build:
      context: /home/taiunse/Desktop/messages

    ports:
      - "8080"

    depends_on:
      - redis

  redis:
    image: redis:7
    ports:
      - "6379:6379"